---
import RealBroker from "@/assets/RealBroker.png";
import Certificate from "@/assets/svg/Certificate.svg";
import Facebook from "@/assets/svg/Facebook.svg";
import Instagram from "@/assets/svg/Instagram.svg";
import Tiktok from "@/assets/svg/Tiktok.svg";
import Youtube from "@/assets/svg/Youtube.svg";
import { EnvelopeIcon, PhoneArrowDownLeftIcon } from '@heroicons/react/24/solid';
import Button from "../Buttons/Button.astro";
import ContactButton from "../Buttons/ContactButton.astro";
const { t } = Astro.props;
---
<section>
  <article class="flex flex-col justify-center items-center lg:justify-start lg:items-start">
    <img src={RealBroker.src} width='auto' height='72px' alt="RealBroker" title="RealBroker" class="w-auto h-[72px]" loading="eager" />
    <section class="flex flex-col justify-center items-center md:flex-row gap-[6px] my-10">
    <ContactButton content="8094435218" sx='w-fit' title="numero de contacto de real broker" href='tel:+8094435218'>
        <Fragment slot="icon">
          <PhoneArrowDownLeftIcon strokeWidth='3' className="w-[18px] h-[18px] text-white" />
        </Fragment>
      </ContactButton>
      <ContactButton content="8292433673" sx='w-fit' href='tel:+8292433673' title="numero de contacto 2 de real broker">
        <Fragment slot="icon">
          <PhoneArrowDownLeftIcon strokeWidth='3' className="w-[18px] h-[18px] text-white" />
        </Fragment>
      </ContactButton>
      <ContactButton content="ventas@realbrokerrd.com" sx='w-fit' href='mailto:ventas@realbrokerrd.com' title="correo de contacto de real broker">
        <Fragment slot="icon">
          <EnvelopeIcon strokeWidth='3' className="w-[18px] h-[18px] text-white" />
        </Fragment>
      </ContactButton>
    </section> 
  </article>
  <article class="grid grid-cols-1 lg:grid-cols-2 gap-y-10 gap-x-5">
    <section class="flex justify-center items-center lg:justify-start lg:items-start flex-col font-primary text-white">
      <h2 class="text-center lg:text-start max-w-2xl lg:max-w-md font-light leading-7">
        {t('footer_title')} <span class="font-semibold">{t('footer_title_bold')}</span>
      </h2>
      <div class="flex gap-x-5 items-center mt-5">
        <Button sx='w-fit'>
          <Fragment slot="content">
            <a href="https://api.whatsapp.com/send?phone=+18094435218&text=Hola,%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20su%20nuevo%20proyecto%20Poseidonia." aria-label="poseidonia boton de contacto" title="poseidonia boton de contacto" target="_blank">
              <p class="hover:!text-opacity-85">{t('footer_button2')}</p>
            </a>
          </Fragment>
        </Button>
        <article class="flex gap-x-[12px]">
          <ContactButton sx='!w-fit !px-[7px]' title='Instagram Gustavo Real Broker' href='https://www.instagram.com/realbrokerrd/'>
            <Fragment slot="icon">
              <img src={Instagram.src} width="22px" height="22px" alt="Instagram" title="Instagram Gustavo Real Broker" class="!w-[22px] !h-[22px]"/>
            </Fragment>
          </ContactButton>
          <ContactButton sx='!w-fit !px-[7px]' title="Facebook Gustavo Real Broker" href='https://www.facebook.com/realbrokerrd'>
            <Fragment slot="icon">
              <img src={Facebook.src} width="22px" height="22px" alt="Facebook" title="Facebook Gustavo Real Broker" class="!w-[22px] !h-[22px]"/>
            </Fragment>
          </ContactButton>
          <ContactButton sx='!w-fit !px-[7px]' title="Youtube Gustavo Real Broker" href='https://www.youtube.com/channel/UCG_CUKuTMLcL6fnf4TTx36Q/featured'>
            <Fragment slot="icon">
              <img src={Youtube.src} width="22px" height="22px" alt="Youtube" title="Youtube Gustavo Real Broker" class="!w-[22px] !h-[22px]"/>
            </Fragment>
          </ContactButton>
          <ContactButton sx='!w-fit !px-[7px]' title="Tiktok Gustavo Real Broker" href='https://www.tiktok.com/@gustavorealbroker?_t=8pfQY724Vao&_r=1'>
            <Fragment slot="icon">
              <img src={Tiktok.src} width="22px" height="22px" alt="Tiktok" title="Tiktok  Gustavo Real Broker" class="!w-[22px] !h-[22px]"/>
            </Fragment>
          </ContactButton>
        </article>
      </div>
    </section>
    <section class="flex flex-col justify-center items-center lg:items-start lg:flex-row gap-10">
      <div class="flex flex-col gap-y-1 font-primary text-white text-[16px] font-light text-center lg:text-start">
        <h3 class="font-medium mb-3">
          {t('footer_our_office')}
        </h3>
        <p class="max-w-xs">
          C. Georgilio Mella Chavier 10, local 201, edificio La goma, sector los prados, Santo Domingo 10132 D.N.
        </p>
      </div>
      <div class="flex flex-col gap-y-1 font-primary text-white text-[16px] font-light text-center md:text-start">
        <h3 class="font-medium mb-3">
          {t('footer_certified')}
        </h3>
        <section class="flex flex-col gap-y-1 items-center lg:items-start">
          <a href="https://certificaciones.uaf.gob.do/certificaciones_so_view.php?editid1=303" aria-label="Certificate url link" title="certificaciones uaf gob do" target="_blank">
            <img src={Certificate.src} width='108px' height='108px' alt="Certificate" title="certificaciones uaf gob do " class="w-[108px] h-[108px]" />
          </a>
        </section>
      </div>
    </section>
  </article> 
</section>
