---
import Render1 from "@/assets/render1.webp";
import Render2 from "@/assets/render2.webp";
import Render3 from "@/assets/render3.webp";
import Render4 from "@/assets/render4.webp";
import Render5 from "@/assets/render5.webp";
import Render6 from "@/assets/render6.webp";
import Apartments from "../Apartments/Apartments.astro";
import Button from "../Buttons/Button.astro";
const { t } = Astro.props;
---

<section class="flex flex-col gap-y-7 justify-center items-center px-[30px] md:px-[50px] transition-all ease-in-out">
  <h2 
    style={{
      fontSize: "clamp(42px, 3vw, 50px)",
      lineHeight: "clamp(42px, 3vw, 58px)",
    }}
  class="font-primary text-blackBroker text-center font-bold max-w-2xl">
    {t('apartments_title')} <span class="text-blueBroker">{t('apartments_title1')}  </span> {t('apartments_title2')} 
  </h2>
  <Button sx='w-fit mt-5 border-blueBroker' sxIcon='!text-blueBroker'>
    <Fragment slot="content">
      <a href="https://api.whatsapp.com/send?phone=+18094435218&text=Hola,%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20su%20nuevo%20proyecto%20Sand%20Residences." title="Sand Residences Brochure" aria-label="Brochure and Availability" class="text-blueBroker hover:text-opacity-85 font-primary">
        {t('apartments_button')} 
    </a>
    </Fragment>
  </Button>
  <section class="flex gap-x-4">
    <section class="flex flex-col lg:flex-row gap-4">
      <section class="my-auto">
        <Apartments
          image={Render1.src}
        />
      </section>
      <section class="flex flex-col gap-y-5">
        <Apartments
          image={Render2.src}
        />
        <Apartments
          image={Render3.src}
        />
      </section>  
    </section>
    <section class="flex flex-col lg:flex-row gap-4">
      <section class="flex flex-col gap-y-4">
        <Apartments
          image={Render4.src}
        />
        <Apartments
          image={Render5.src}
        />
      </section>  
      <section class="my-auto">
        <Apartments
          image={Render6.src}
        />
      </section>
    </section>
  </section>  
</section>